<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1">
        <title>ChainsBall</title>

        <link rel="stylesheet" href="../../skin/css/global.css">
        <link rel="stylesheet" href="../../skin/css/style.css">
    </head>
    <body>
        <div class="main">
            <div class="main-title">
                <p>Here is ChainsBall !</p>
            </div>
            <div class="main-content">
                <div class="content-container">
                    <div id="chainsBall" class="chainsBall">
                        <canvas width="256" height="256" id="canvas"></canvas>
                    </div>
                </div>
            </div>
            <div class="main-footer">
                <p>Here is ChainsBall footer !</p>
            </div>
        </div>

        <!-- script  -->
        <script type="text/javascript" src="../../js/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="chainsBall.js"></script>
        <script>
            $(document).ready(function() {
                var canvas = document.getElementById("canvas");
                var ctx = canvas.getContext("2d");
                var w = canvas.attributes.width.value;
                var h = canvas.attributes.height.value;
          scene.initialize();
    camera.initialize();
     document.getElementById('depthCanvas'), 
    new Sphere(new Vector3(0, 10, -10), 10),
    new PerspectiveCamera(new Vector3(0, 10, 10), new Vector3(0, 0, -1), new Vector3(0, 1, 0), 90),
    20);
    var i = 0;
    for (var y = 0; y < h; y++) {
        var sy = 1 - y / h;
        for (var x = 0; x < w; x++) {
            var sx = x / w;            
            var ray = camera.generateRay(sx, sy);
            var result = scene.intersect(ray);
            if (result.geometry) {
                var depth = 255 - Math.min((result.distance / maxDepth) * 255, 255);
                pixels[i    ] = depth;
                pixels[i + 1] = depth;
                pixels[i + 2] = depth;
                pixels[i + 3] = 255;
            }
            i += 4;
        }
    }
 
    ctx.putImageData(imgdata, 0, 0);
            });
        </script>
    </body>
</html>